@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap");

body {
  font-family: "IBM Plex Serif", serif;
}
.container {
  width: 90%;
  margin: auto;
  justify-content: center;
}

.table-header {
  list-style: none;
  font-size: 20px;
  color: #333;
  text-align: center;
}

.table-item {
  background: #333;
  color: white;
  padding: 10px;
  margin: 10px;
  width: 45%;
  text-align: center;
}

.search-bar {
  margin: auto;
  width: 45%;
  border-bottom: 2px solid #333;
  text-align: center;
}

.search-input {
  padding: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .container {
    width: 95%;
  }

  .table-header,
  .table-item,
  .search-bar {
    width: 100%;
  }
}
